{% extends "base.html" %}

{% block content %}
<div class=container>
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Number of days for prediction</h1>
            <form>
                <div class="form-group">
                  <label for="nbdays">Input the number of days for the predictions (1-30) </label>
                  <input type="number" min="1" max="30" value="7" class="form-control" id="nbdays" placeholder="Number of days">
                </div>
                <!--<div class="form-group">
                  <label for="nbdays">Input the number of days for the predictions (1-30)</label>
                  <input type="range" class="form-control-range" min="1" max="30" id="formControlRange">
                </div> -->

                <button type="submit" class="btn btn-default">Submit</button>
                <div class="radio">
                  <label><input type="radio" name="optradio" checked>Graph(Price and Production)</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio">Graph(Price only)</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio">Graph(Production only)</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio" checked> predictions with ARIMA</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="optradio">predictions with LSTM</label>
                </div>
                
             </form>
            <br>
            
        </div>
        <div class="col-md-6">
          <input type="image" src="{{url_for('static', filename='images/'+graph)}}" alt="Graph" >
        </div>
    </div>
</div>
{% endblock %}

